@import "~bootstrap/scss/bootstrap.scss";
@import "~bootstrap-icons/font/bootstrap-icons.css";
.label {
    color: grey;
    margin-right: 10px;
}

.sortBtn {
    float: right;
    margin: 10px;
    background-color: lightgrey;
    color: black;
}
